button {
    background-color: #ec1550;
    font-family: "Trebuchet MS";
    color: #ffffff;
    border: solid #000000;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #1b0188;
}

button:hover {
    cursor: pointer;
}

.card-wrapper{
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 5%;

}

@media (max-width: 768px) {
    .card-wrapper{
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(1,2fr);
        gap: 2%;

    }
    button {
       width: 30%;
    }
}
