.container-textarea {
    display: flex;  
 }

.button-container--vertical {
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: space-around;
}

textarea {
    width: 80%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-top: 3rem;
    margin-left: 3rem;
    resize: none;
}

.time-container {
    display: flex;
    gap: 5rem;
    margin: 0 auto;
 }