.table__container {
    width: 90%;
    margin: 0 auto;
    flex-grow: 20;
    overflow: auto;
}

.table__col {
    width: 3rem;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.table__input {
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 2rem;
}

.table__col:nth-child(1){
    border: solid black;
    background-color: #7e499b;
}

.counter__container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}