.container-header {
    display: flex;
    background-color: #1b0188;
    max-width: 100vw;
    height: 12%;
}

.header-logo {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h2 {
    font-family: "Trebuchet MS";
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10%;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
}

@media (max-width: 768px){
    *{
        margin: 0;
    }
    .container-header {
        display: flex;
        background-color: #1b0188;
        max-width: 100vw;
        height: 12%;
    }
    .title h2{
        font-size: 1rem;

    }


}
