.container-contacts {
    width: 80%;
    margin: 0 auto;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
    margin: 2rem 0;
}

.image img {
    width: 150px;
    height: 150px;
}

article {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .box{
        grid-template-columns: repeat(1, 1fr);
    }
    .image img {
        width: 100px;
        height: 100px;
    }
    
}
